body {
    font-family: Arial;
    background-color: 		#354260;
    text-align: center;
    margin: 20px;
    color:aliceblue
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: 	#32c9b4;
    border-color: 	#232c40;
}

#result {
    font-weight: bold;
    font-size: 24px;
}

